@{
    ViewBag.Title = "Noah Johnson";
}
<body>
    <div class="img-container">
        <img src="img/favorite-thing.jpeg" alt="A photo of something I like to do" class="fav-img" />
        <p class="caption">Disneyland with my wife</p>
    </div>
    <div class="container gray">
        <div class="content">
            <h2>What I Hope to Get Out of IS 413</h2>
            <p>
                I am really excited for IS 413. I have experience in the past with web development, but never using ASP.net.
                Recently I have been doing a lot of sites and applications using static site generators. It has been an intersting experience, but I am excited to see how I could also build a larger enterprise-type application.
                I am hoping to get the skills necessary for this which will help me with my planned interview this summer.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="content center">
            <h2>Top 3 Jobs</h2>
            <ul>
                <li><img src="img/project-manager.png" /><p>IT Project Manager</p></li>
                <li><img src="img/developer.png" /><p>Developer</p></li>
                <li><img src="img/teacher.png" /><p>IS Professor</p></li>
            </ul>
        </div>
    </div>
</body>


